.mainCard {
    display: flex;
    flex-direction: row;
}

.cardImg {
    display: flex;
    margin: 0 0 0 20px;
    /* border: solid 4px blue;  */
}

.cardImg img {
    max-width: 100px;
    height: auto;
    /* border: solid 4px blue;  */
}

.cardTitulo {
    font-size: 15px;
    margin: 0 0 0 50px;
}

.cardSubtitulo {
    font-size: 12px;
    margin: 0 0 0 55px;
    flex-direction: column;
}